@model Incident
@{
    ViewData["Title"] = ViewBag.Title + " Incident";
}

<h1>@ViewBag.Title</h1>
<h3>@Model.Title (@Model.IncidentID)</h3>

<form asp-action="Delete" method="post" class="form-horizontal">
    <input type="hidden" asp-for="IncidentID" />

    <button type="submit" class="btn btn-danger">Delete Incident</button>
    <a asp-controller="Incident" asp-action="List" class="btn btn-primary">Cancel</a>
</form>